html,
body {
  height: 100%;
  --main-color: black;
  --tooltip-color: rgb(134, 190, 245);
  background-color: white;
}

#svg-container {
  display: flex;
  align-items: center;
  height: 100%;
}

svg {
  margin: 0 auto;
  display: block;
}

#title {
  font-size: 30px;
  font-weight: 500;
}

#secondTitle {
  font-size: 22px;
  font-weight: 500;
}

.dot:hover {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  top: 200px;
  left: 200px;
  opacity: 0%;
  background-color: var(--tooltip-color);
  width: fit-content;
  height: fit-content;
  color: var(--main-color);
  padding: 5px;
  border-radius: 5px;
}

#tooltip::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid var(--tooltip-color);
  border-bottom: 5px solid transparent;
  left: -5px;
  top: 12px;
}

#legend {
  font-size: small;
  font-style: italic;
}

footer {
  position: absolute;
  font-size: small;
  font-style: italic;
  width: 99%;
  font-weight: 600;
  bottom: 7px;
  text-align: center;
}
